<label for="name">Nom :</label>
<input id="name" type="text" [(ngModel)]="name">
<button (click)="addUser()">Ajouter</button>
<button (click)="resetName()">Reset</button>

<!--depuis angular 17-->
@if (name) {
  <h2 [style]="{'color' : name.includes('a') ? 'green' : 'red'}"
      [class]="{'blue' : name.length > 10, 'yellow' : name.length < 5}">User : {{ name }}</h2>
}

<!--old school-->
<!--<h2 *ngIf="name">{{ name }}</h2>-->

<ul>
  @for (user of users; track $index) {
    <li (click)="removeUser($index)"
        [style]="{'color' : user.includes('a') ? 'green' : 'red'}"
        [class]="{'blue' : user.length > 10, 'yellow' : user.length < 5}"
    >{{ user }}
    </li>
  } @empty {
    <p>Pas de users !</p>
  }
</ul>

<p>{{ date }}</p>
<p>{{ date | date : 'dd/MM/yyyy' }}</p>
<p>{{ date | date : 'shortDate' }}</p>
<p>{{ date | date : 'long' : undefined : 'fr_FR' }}</p>





